Flasgger==0.5.5
Flask==0.10.1
Jinja2==2.8
Paver==1.2.4
Werkzeug==0.10.4
py==1.4.30
healthcheck==1.2.0
gunicorn==19.3.0
ming==0.5.3
flask_cors==2.1.2
elasticsearch==2.2.0
pytz==2015.7
git+https://gitlab.nexxera.com/plataforma-financeira-servicos/nexxera-auditing.git#egg=nexxera_auditing-0.0.1